@font-face {
  font-family: "title";
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "main";
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf")
    format("truetype");
}

body {
  font-family: "main";
  overflow: hidden; /* Pour ne pas afficher de scrollbars*/
  margin: 0;
}

/* ----------------------------------- EN TETE ----------------------------------- */

@media screen and (min-width: 950px) {
  header {
    margin: 0;
    font-family: "title";
    width: 100%;
    padding: 20px;
    /* border: solid purple; */
  }

  header h1 {
    margin: 0;
  }

  header div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
  }

  header div img {
    width: 20px;
    height: 20px;
  }

  header #flyoutMenuButton {
    display: none;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-left: 0;
}

header img {
  margin-right: 30px;
}

@media screen and (max-width: 950px) {
  header {
    position: fixed;
    width: 100%;
    background-color: white;
  }
  header h1 {
    margin-left: 50px;
  }

  header div {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  header h1 {
    font-size: 1.8em;
    margin-left: 30px;
  }

  header img {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 400px) {
  header h1 {
    font-size: 1.5em;
    margin-left: 30px;
  }

  header img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  header h1 {
    margin-left: 15px;
  }

  header img {
    margin-right: 15px;
  }
}

/* --------------------------------------- CONTENEUR ------------------------------------------- */
#main {
  display: flex;
  justify-content: center;
  justify-items: center;
}

#main.left {
  display: flex;
  justify-content: space-between;
  justify-items: flex-start;
}

/* ----------------------------------- MENU ----------------------------------- */
#menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80vh;
  width: 100%;
  /* border: solid green; */
}

#menu p {
  padding-left: 5px;
  transition: padding-left 0.1s linear;
}

#menu p:hover {
  padding-left: 15px;
  cursor: pointer;
}

#menu h2 {
  font-family: "title";
  margin-bottom: 10px;
  margin-left: 40%;
  transition: all 0.6s ease-out;
  width: 200px;
  text-align: center;
  /* border: solid; */
}

#menu section {
  margin-left: 40%;
  margin-bottom: 20px;
  transition: all 0.6s ease-out;
  text-align: center;
  width: 200px;
  /* border: solid; */
}

#menu h2.left,
#menu section.left {
  margin-left: 20px;
  text-align: left;
}

@media screen and (max-width: 950px) {
  #menu {
    display: none;
  }
}

/* ----------------------------------- FLYOUT MENU ----------------------------------- */
@media screen and (max-width: 950px) {
  #flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
  }
}

#flyoutMenu {
  width: 100vw;
  height: 100vh;
  background-color: black; /* #ffe600; */
  color: white;
  position: fixed;
  top: 80px;
  left: 0;
  transform: translate3d(-100vw, 0, 0);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 50px;
}

#flyoutMenu h2 {
  /* border: solid black; */
  margin-left: 50px;
}

#flyoutMenu section {
  /* border: solid red; */
  margin-left: 55px;
}

#flyoutMenu p {
  cursor: pointer;
}

#flyoutMenu #contact {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 55px;
  margin-top: 100px;
}

#flyoutMenu #contact img {
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

@media screen and (max-width: 400px) {
  #flyoutMenu {
    top: 50px;
  }
}

@media screen and (max-width: 500px) {
  #flyoutMenu {
    top: 70px;
  }
}

@media screen and (max-height: 615px) {
  #flyoutMenu h2 {
    font-size: 1.3em;
  }
  #flyoutMenu section {
    font-size: 1em;
  }

  #flyoutMenu #contact {
    margin-top: 20px;
  }
}

@media screen and (max-height: 550px) {
  #flyoutMenu h2 {
    font-size: 1.2em;
  }
  #flyoutMenu section {
    font-size: 1em;
  }
  #flyoutMenu #contact img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-height: 500px) {
  #flyoutMenu h2 {
    font-size: 1em;
  }
  #flyoutMenu section {
    font-size: 0.8em;
  }
}

/* ----------------------------------- GALLERIE ----------------------------------- */
#gallerie {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  margin-top: 30px;
  /* border: solid red; */
}

#gallerie section {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  height: 100%;
  margin: 0;
  /* border: solid pink; */
}

#gallerie img {
  width: 100%;
  margin-bottom: 20px;
}

#gallerie iframe {
  --width: 100%; /* Voir définition de variables en css. Ca permet ici de calculer la hauteur de l'élement en fonction de sa largeur*/
  width: var(--width);
  height: calc(0.6 * var(--width));
  /* border: solid gray; */
}

@media screen and (max-width: 950px) {
  #gallerie {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 98vw;
    height: 100%;
    margin: 0;
    margin-top: 100px;
    /* border: solid black; */
  }
  #gallerie section {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  #gallerie iframe {
    --width: 80vw; /* Voir définition de variables en css. Ca permet ici de calculer la hauteur de l'élement en fonction de sa largeur*/
    width: var(--width);
    height: calc(0.8 * var(--width));
  }
}

@media screen and (max-width: 500px) {
  #gallerie section {
    width: 95%;
  }
}
