/* On ajoute une nouvelle police. tu peux en télécharger d'autres sur Google fonts, les mettres dans le dossier font 
et changer le code, évidemment */
@font-face {
  font-family: "main";
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf")
    format("truetype");
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

/* body {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* On s'occupe du titre */
h1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-family: "main";
  z-index: 200;
  width: 100%;
  padding: 20px;
}

h1 p {
  color: white;
  margin: 0;
}

/* Ici on s'occupe de la video */
#video {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

/* En fonction du ratio entre largeur et hauteur de la fenêtre, on prend l'une ou l'autre des décisions concernant la taille */
@media (min-aspect-ratio: 16/9) {
  #video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #video {
    height: 100%;
    width: auto;
  }
}

/* Ici on s'occupe du bouton */
#bouton {
  position: absolute;
  top: 0;
  width: 98%;
  height: 100vh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bouton a {
  display: block;
  font-family: "main";
  padding: 0.5em 3em;
  border: 0.16em solid #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  transition: all 0.15s;
}

#bouton a:hover {
  color: rgb(182, 182, 182);
  border-color: rgb(182, 182, 182);
}
#bouton a:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}
